In [7]:
n=int(input("enter the n "))
for i in range(1,11):
    print(f"{n} X {i} = {n*i}")

enter the n 4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

In [8]:
for i in range(1,11,):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [13]:
for i in range(50,0,-1):
    print(i," ",end="" )

50  49  48  47  46  45  44  43  42  41  40  39  38  37  36  35  34  33  32  31  30  29  28  27  26  25  24  23  22  21  20  19  18  17  16  15  14  13  12  11  10  9  8  7  6  5  4  3  2  1

In [14]:
for i in range (1,101):
    if(i%2==0):
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [15]:
for i in range (300,501):
    if(i%2==0):
        print(i)

300
302
304
306
308
310
312
314
316
318
320
322
324
326
328
330
332
334
336
338
340
342
344
346
348
350
352
354
356
358
360
362
364
366
368
370
372
374
376
378
380
382
384
386
388
390
392
394
396
398
400
402
404
406
408
410
412
414
416
418
420
422
424
426
428
430
432
434
436
438
440
442
444
446
448
450
452
454
456
458
460
462
464
466
468
470
472
474
476
478
480
482
484
486
488
490
492
494
496
498
500

In [19]:
n=int(input("enter n :"))
fac=1
for i in range (1,n+1):
    fac*=i
print(fac)

enter n :5
120

In [23]:
for i in range (601,501,-3):
        print(i)

601
598
595
592
589
586
583
580
577
574
571
568
565
562
559
556
553
550
547
544
541
538
535
532
529
526
523
520
517
514
511
508
505
502

In [25]:
for i in range (300,-5,-4):
        print(i)

300
296
292
288
284
280
276
272
268
264
260
256
252
248
244
240
236
232
228
224
220
216
212
208
204
200
196
192
188
184
180
176
172
168
164
160
156
152
148
144
140
136
132
128
124
120
116
112
108
104
100
96
92
88
84
80
76
72
68
64
60
56
52
48
44
40
36
32
28
24
20
16
12
8
4
0
-4

In [35]:
n=23532
rev=0
while(n>0):
    dig =n%10
    rev=rev*10+dig
    n=n//10
print(rev)

23532

In [49]:
st="hello"
st2=" "
for i in st:
      st2=i+st2
print(st2)

olleh

st="hello"
char='o'
for i in st:
      if i==char:
      
print(st2)

In [1]:
st="hello"
car ="l"
count =0
for i in st:
      if(i==car):
        count+=1
print(count)

2

In [7]:
st=["a","e","i","o","u"]
car ="a"
count =0
for i in st:
    if(i==car):
        print("true")
        break
    else: 
        print("false")
        break

true

In [28]:

for i in range(100,601):
    count = 0
    for j in range(2,i):
        if i%j==0:
            count+=1 
            break
    if count == 0:
        print(i,"is prime")

101 is prime
103 is prime
107 is prime
109 is prime
113 is prime
127 is prime
131 is prime
137 is prime
139 is prime
149 is prime
151 is prime
157 is prime
163 is prime
167 is prime
173 is prime
179 is prime
181 is prime
191 is prime
193 is prime
197 is prime
199 is prime
211 is prime
223 is prime
227 is prime
229 is prime
233 is prime
239 is prime
241 is prime
251 is prime
257 is prime
263 is prime
269 is prime
271 is prime
277 is prime
281 is prime
283 is prime
293 is prime
307 is prime
311 is prime
313 is prime
317 is prime
331 is prime
337 is prime
347 is prime
349 is prime
353 is prime
359 is prime
367 is prime
373 is prime
379 is prime
383 is prime
389 is prime
397 is prime
401 is prime
409 is prime
419 is prime
421 is prime
431 is prime
433 is prime
439 is prime
443 is prime
449 is prime
457 is prime
461 is prime
463 is prime
467 is prime
479 is prime
487 is prime
491 is prime
499 is prime
503 is prime
509 is prime
521 is prime
523 is prime
541 is prime
547 is prime
557 is prime
563 is prime
569 is prime
571 is prime
577 is prime
587 is prime
593 is prime
599 is prime

In [ ]:
for i in range(1,51):