In [2]:
import copy
l1=[1,2,[3,4]]
l2=l1.copy()
l2[2][0]=10
print("l1=",l1)
print("l2=", l2)
l3=copy.deepcopy(l1)
l3[2][0]=20
print("l1=",l1)
print("l3=",l3)

l1= [1, 2, [10, 4]]
l2= [1, 2, [10, 4]]
l1= [1, 2, [10, 4]]
l3= [1, 2, [20, 4]]

In [23]:
dic1={'india':80,'fise':80,'efwef':50}
dic1
print(min(dic1))

efwef

In [10]:
dic1={'india':80,'fise':80,'efwef':50}
print(dic1)
print(dic1.keys())
print(dic1.values())

{'india': 80, 'fise': 80, 'efwef': 50}
dict_keys(['india', 'fise', 'efwef'])
dict_values([80, 80, 50])

In [19]:
month={}
month[1]='jan'
month[2]='feb'
month[3]='mar'
print(month.keys())
print(min(month))

dict_keys([1, 2, 3])
1

In [54]:
num={
    0:"zero",
    1:"one",
    2:"two",
    3:"three",
    4:'four',
    7:'seven'
}
print(num)
print(min(num))
print(max(num))
print(sum(num))
print(num[2])
print(0 in num)
del num[7]
print(num)
s=num.get(5,"kya kar raha he bhai ya nhi he tera dictionary ma ")
g=num.get(6)
print(s)
print(g)
more={
    8:"2@",
    9:"235",
    10:'ijijidh'
}
print(num)
new=more.copy()
id(new),id(more)
print(new)
num.update(more)

for m in sorted(num):
    print(m ,end=" ")

{0: 'zero', 1: 'one', 2: 'two', 3: 'three', 4: 'four', 7: 'seven'}
0
7
17
two
True
{0: 'zero', 1: 'one', 2: 'two', 3: 'three', 4: 'four'}
kya kar raha he bhai ya nhi he tera dictionary ma
None
{0: 'zero', 1: 'one', 2: 'two', 3: 'three', 4: 'four'}
{8: '2@', 9: '235', 10: 'ijijidh'}
0 1 2 3 4 8 9 10

In [58]:
num={
    0:"zero",
    1:"one",
    2:"two",
    3:"three",
    4:'four',
    7:'seven'
}
print(num)
for m in sorted(num.values()):
    print(m ,end=" ")
print()
for m in sorted(num.keys()):
    print(m ,end=" ")

{0: 'zero', 1: 'one', 2: 'two', 3: 'three', 4: 'four', 7: 'seven'}
four one seven three two zero
0 1 2 3 4 7

In [63]:
dt={1:1,2:2,3:3,4:4,5:5}
dtcal={num:2*num for num in range(1,6)}
print(dt)
print(dtcal

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10}